@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* Ocultar ícones nativos de date/time
.remove-native-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
  pointer-events: none;
  width: 0;
  height: 0;
}

.remove-native-icon::-webkit-inner-spin-button {
  display: none;
} */
